/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans&display=swap');

/* common styles */
* {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    margin: 0;
}

.main-btn input {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 24px;
    background-color: #FD6E0A;
    border-radius: 5px;
    margin: 0 870px;

}

/* ----------------------
    style of navigation
 ------------------------- */
header {
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
    margin-bottom: 82px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 50px 228px;
}

.nav-items {
    display: flex;
    column-gap: 30px;
    padding: 63px 240px;
}

.nav-items p {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* --------------------------------------------
        style of title and banner section 
------------------------------------------------*/

.intro {}

.whole-header {}

.intro-starting {
    text-align: center;
    width: 862px;
    padding-top: 105px;
    padding-left: 520px;
}

.intro-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.intro-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.banner {
    padding: 30px 240px;
}

/*-------------------------------------
style of quick list of feature
---------------------------------- --> */

.feature-starting {
    display: flex;

}

.feature-container {}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 300px;
}

.feature-info {
    text-align: left;
    width: 537px;
    margin-left: 73px;
    margin-top: 296px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}

.span-one {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.span-two {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

#btn2 input {
    margin: 0;
    margin-top: 32px;
}

/* --------------------------------
       feature list styles         
----------------------------------- */
.feature-list {
    margin-top: 130px;
}

.list-container {
    margin-left: 240px;
    display: flex;
}

.title-line {
    display: flex;
    gap: 21px;
}

.vertical {
    border-left: 5px solid orange;
    height: 106px;
}

.list-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    margin-bottom: 24px;
}

.list-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 586px;

}

.box-list {
    margin-top: 30px;
    width: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.architect {
    margin-left: 54px;
}

.banner2 {
    margin-left: 146px;
    border-radius: 8px;
}

.experience {
    width: 342px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    padding-top: 45px;
    position: relative;
    top: -130px;
}

.letter1 {
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.letter2 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* ---------------------
     sytle of facts     
------------------------*/
.facts {
    margin-left: 240px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

.fact-info {
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    margin-top: 24px;
}

/* -----------------------
     styles of stats       
-------------------------- */

.stats {
    margin: 100px 290px 180px 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box-stats {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    transition: all 0.3s ease-in-out;
}

.box-stats:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #FF900E;
}

.stats-info {
    text-align: center;
    padding: 45px 36px 60px 36px;
}

.stats-no {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.stats-name {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* ------------------------------
     styles of sponsor           
--------------------------------- */
.sponsor {}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 797px;
    margin-bottom: 24px;
}

.sponsor-info {
    width: 542px;
    font-size: 16px;
    color: #727272;
    margin-left: 690px;
    text-align: center;
}

.spn-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 240px 130px 240px;
}

/* --------------------------
          footer styles       
----------------------------- */
footer {
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 216px;
    background: #FFF4E7;
    border-radius: 8px;
}

.foooter-text {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding: 40px 370px;
}

/* responsive style */
/* ----------------------
     responsive for phone  
--------------------------- */
@media only screen and (max-width : 688px) {
    header {
        width: 100%;
        padding: 0;
    }

    .nav-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-title {
        padding-left: 0;
    }

    .nav-items {
        padding-left: 0;
        width: 100%;
    }

    .intro-starting {
        text-align: left;
        padding-top: 0;
        padding-left: 0;
        width: 100%;
    }

    .main-btn input {
        margin: 0;
        margin-bottom: 20px;
    }

    .banner {
        padding: 0;
    }

    .banner img {
        width: 100%;
    }

    /* feature starting part */
    .feature-starting {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .feature-images img {
        width: 100%;
    }

    .feature-info {
        margin: 0;
        width: 100%;
    }

    .feature-description {
        width: 100%;
    }

    /* feature list start */
    .list-container {
        flex-direction: column;
    }

    .list-container {
        margin-left: 0;
    }

    .list-title,
    .list-description,
    .banner2 img,
    .fact-info {
        width: 100%;
    }

    .vertical {
        height: 170px;
    }

    .box-list {
        padding: 0;
        width: auto;
    }

    .architect {
        margin-left: 0;
    }

    .experience {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .facts {
        margin-left: 0;
    }

    /* stats style */
    .stats {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 80px;
        grid-row-gap: 30px;
    }

    /* sponsor part */
    .sponsor-title,
    .sponsor-info {
        text-align: left;
        width: 100%;
        margin-left: 0;
    }

    .spn-logo {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        margin-left: 120px;
    }

    /* footer part */
    footer {
        margin-left: 0;
        margin-right: 0;
    }

    .foooter-text {
        width: 100%;
        padding-left: 25px;
    }
}